body {
    background: linear-gradient(135deg, #003366, #0055a5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

form {
    width: 420px;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 20px;
    padding: 3rem;
    color: #003366;
    box-shadow: 0 0 15px rgba(0, 51, 102, 0.4);
}

h1 {
    color: #003366;
    text-align: center;
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

label {
    color: #003366;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #f8f8f8;
    color: #003366;
}

button {
    width: 100%;
    background-color: #003366;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: #0055a5;
    transform: scale(1.03);
}

a {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #003366;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #0055a5;
    text-decoration: underline;
}

i {
    color: #0055a5;
    margin-right: 8px;
}